ASPNETCORE_ENVIRONMENT=Development

# Puertos publicados en la máquina anfitriona
REGISTRO_SERVICE_PORT=8080
DEPARTAMENTOS_SERVICE_PORT=8081
GATEWAY_SERVICE_PORT=8088

# Base de datos exclusiva de RegistroService
REGISTRO_DB_NAME=registro_db
REGISTRO_DB_USER=registro_user
REGISTRO_DB_PASSWORD=contrasenia_de_prueba

# Base de datos exclusiva de DepartamentosService
DEPARTAMENTOS_DB_NAME=departamentos_db
DEPARTAMENTOS_DB_USER=departamentos_user
DEPARTAMENTOS_DB_PASSWORD=contrasenia_de_prueba
